/*big tablet to 1200px. our row is 1140px */
@media only screen and (max-width:1200px){
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
        padding-left: 3%;
    }
    .row{padding: 0 2%;}
}
@media only screen and (min-width: 768px) {
    .project__box:hover .image__buttons-box{
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        -webkit-transform:translate(-50%,-105%);
                transform:translate(-50%,-105%);
        opacity: 1;
    }
    
    .project__box:hover .project__img{
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-filter: blur(3px) brightness(80%);
                filter: blur(3px) brightness(80%);
    }
    .image__buttons-box{/*the box of the buttons*/
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform:translate(-50%,0%);
                transform:translate(-50%,0%);
        opacity: 0;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
 }

/*will apply 768px -1023px. landscape view ipad 1024px */
@media only screen and (max-width:1023px){
    /*first thing to do is to change the overall font-size */
    html{font-size: 57%;} 
    .section{padding: 60px 0 ; 
    }
    .hero-text-box{
        padding-left: 5%;
    }
    .project__text-box .heading-tertiary{
        margin-bottom: 1%;
    }
    .form{
        width: 80%;
    }

}

/*will apply 481px - 767px the width of ipad 768. all the phones smaller than the ipad*/
@media only screen and (max-width:767px){
    html{font-size: 40%;}
    .profile-description,
    .tech-description{font-size: 210%;}
    .section{padding: 50px 0 ;} 
    .row,.hero-text-box{padding: 0 4%;}
    .col{
        width: 100%;
    }
    .header{
        background-attachment: fixed;
        background-position: bottom;
        background-size: cover;
        position: relative;
    }
    .hero-text-box{
        padding-left: 5%;
    }
    .heading-secondary{
        margin-bottom: 20px;
    }
    .feature-box{
        display: inline-block;
        margin-top: 10px;
        padding: 20px;
    }
    .project__img{
        width: 60%;
        height: auto;
        padding: 1%;
        padding-bottom: 5%;
    }
    .project__box:hover .image__buttons-box{
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        opacity: 1;
    }
    .project__text-box{
        margin-top: 6%;
    }
    .project__text-box .heading-tertiary{
        margin-bottom: 1%;
        margin-top: 4%;
    }

   
    .heading-primary{font-size:400%;}
    .heading-secondary{font-size:300%;}

    /*-------navigation switch-------------- */

     /*hide the navigation */
     .nav-list{
         display: none;
     }
     .nav-list{
         float: left;
         margin-top: 35px;
         margin-left: 25px;
     }
     .nav-item{
         display: block;
     }
     /*style the links to the navigation*/
     .nav-link:link,
     .nav-link:visited{
        display: block;
        border: 0;/*dont need a border at mobile version*/
        padding: 10px 0;
        font-size: 250%;
     }

    /*make the mobile nav visible */
    .mobile-nav-icon{
        display:inline-block;
        color: #ffff;
        margin-top: 10px;
    }

    .image__buttons-box{
        display: block;
        margin-top: -5%;
        padding-top: 1%;
    } 
    .image-links:link,
    .image-links:visited{
        display:inline-block;
        font-size: 180%;
        margin-left: 15px;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
        background-color:#7a3a95;
        border: 1px solid #7a3a95;
        color:#fff;
    }
    .project__text-box{
        margin-top: -4%;
    }
    .project-text{
        width: 60%;
        margin-left: 20%;
    }
    .profile-pic{
        margin-bottom: 20px;
        margin-top: 25px;
    }
/*-------------STICKY NAVIGATION-------------------*/

    .sticky .nav-list{
        margin: 10px 0;
    }
    .sticky .nav-link:link,
    .sticky .nav-link:visited{
        padding: 10px 0;
        color: white;
    }
    .sticky .mobile-nav-icon{
        color: white;
    }
    .btn-full:link,
    .btn-full:visited,
    .image-links:link{
        display: inline-block;
        background-color:#7a3a95;
        border: 1px solid #7a3a95;
        color:#fff;
        padding: 7px 15px;
    }
    input[type=submit]{
        padding: 7px 15px;
    }
}

/*small phones 0-480px small iphones*/
@media only screen and (max-width:480px){
    .section{padding: 25px 0 ; 
    }
    .heading-primary,
    .heading-secondary{
        font-size: 300%;
    }
    .heading-tertiary{
        font-size: 140%;
    }
    .footer-section{
        padding: 30px 0;
    }
    .profile-pic{
        margin-top: 8%;
        margin-bottom: 10%;
    }
    .project{
        margin-top: 5%;
    }
    .technologies{
        margin-top:5%;
    }

    .project__img{
        width: 60%;
        height: auto;
        padding: 1%;
        padding-bottom: 5%;
    }
    .image__buttons-box{
        margin-top: -5%;
        display:block;/*was inline-block*/
        text-align: center;
    }
  
    .project__text-box{
        margin-top: -2%;
    }
    .project__text-box .heading-tertiary{
        margin-bottom: 1%;
        margin-top: 1%;
    }
    .project-text{
        width: 60%;
        margin-left: 20%;
    }
    input[type=submit]{
        padding: 7px 15px;
    }
}



/*στα 650 κανε τα κουμπια στηλη και αναμεσα απο το κειμενο για μικροτερες οθονες */
/* το κειμενο μεσα στα κουμπια στο portfolio ειναι μικρο δες να ανεβασεις γραμματοσειρα */