/*COLORS 

FOR SECTION BACKGROUND #f9f5fb
FOR BUTTONS #7a3a95
*/


/*basic reset */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------TYPOGRAPHY---------------------*/
html{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 62.5%; /*10 px*/
    color: #555;
    background-color: #fff;
}

/*-----------------------REUSABLE COMPONENTS--------------*/
.section{padding: 80px 0;}
.row{
    max-width: 1140px;
    margin: 0 auto;
}

.box{
    padding: 1%;
}
/*-----------------------------------HEADER---------------------------------------*/
.header{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.4)),to(rgba(0,0,0,.4))), url(./img/jesus-kiteque-wn-KYaHwcis-unsplash\ \(1\).jpg);
    background-image:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(./img/jesus-kiteque-wn-KYaHwcis-unsplash\ \(1\).jpg);
    background-attachment: fixed;
    height: 90vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
.hero-text-box{
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.heading-primary-main,
.heading-primary-sub{
    display: block;
}
.heading-primary-main{
    -webkit-animation: moveInleft 1s ease-out;
            animation: moveInleft 1s ease-out;
    -webkit-backface-visibility: none;
            backface-visibility: none;
}
.heading-primary-sub{
    -webkit-animation: moveInRight 1s ease-out;
            animation: moveInRight 1s ease-out;
    -webkit-backface-visibility: none;
            backface-visibility: none;
}
.name-color{
    color: #7a3a95;
}
/*-------------HEADINGS-----------------------------------------------------------*/
.heading-primary,
.heading-secondary,
.heading-tertiary{
    font-weight: 300;
    text-transform: uppercase;
}

.heading-primary{
    font-size: 480%;
    letter-spacing: 1px;
    margin:0;
    color: #fff;
    word-spacing: 2px;;
    margin-bottom: 20px;
}
.heading-secondary{
    letter-spacing: 1px;
    font-size: 360%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}
.heading-secondary::after{
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #7a3a95;
    margin: 0 auto;
    margin-top:30px;
}
.heading-tertiary{
    font-size: 200%;
    margin-bottom: 10px;
}

/*-------PARAGRAPH-----------------------------*/
p{
    font-size: 200%;
    line-height: 145%;
}
.icon{
    display: block;
    color: #7a3a95;
}
.icons-footer{
    font-size: 400%;
    display: block; 
    color: #7a3a95;
    margin-bottom: 30px;
}

/*------------BUTTONS-------------------------*/
.btn:link,
.btn:visited,
.image-links:link{
    display: inlne-block;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 300;
    font-size: 200%;
    border-radius: 200px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.btn-full-animate:link,
.btn-full-animate:visited{
    display: inline-block;
    -webkit-animation: moveInBottom .6s ease-out .75s;
            animation: moveInBottom .6s ease-out .75s;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    /* transition: all .2s; */
}
.btn-full-animate:hover,
input[type=submit]:hover{
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-full-animate:active,
input[type=submit]:active{
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}



.btn-full:link,
.btn-full:visited,
.image-links:link,
input[type=submit]{
    display: inline-block;
    background-color:#7a3a95;
    border: 1px solid #7a3a95;
    color:#fff;
}
.image-links:hover,
.image-links:active{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}
/*-----------------NAVIGATION----------*/
.nav-list{
    float: right;
    list-style: none;
    margin-top: 55px;
}
.nav-item{
    display: inline-block;
    margin-left: 40px;
}

.nav-link:link,
.nav-link:visited{
    font-size: 180%;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    border-bottom:2px solid transparent;
    -webkit-transition: border-bottom .2s;
    transition: border-bottom .2s;
}
.nav-link:hover,
.nav-link:active{
    border-bottom: 2px solid #7a3a95;
}

/*-------------STICKY NAVIGATION-------------------*/
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px rgba(134, 138, 142, 0.98);
   z-index: 9999;
}

.sticky .nav-list{
    margin: 14px 0;
}
.sticky .nav-link:link,
.sticky .nav-link:visited{
    padding: 16px 0;
    color: #555;
}

/*-------------MOBILE NAVIGATION-------------------*/
/* 
.mobile-nav-icon 
.js--nav-icon */
.mobile-nav-icon{
    float: right;
    display: none;
    margin-top: 30px;
    cursor: pointer;
}
.mobile-nav-icon i{
    font-size: 200%;
    color:#555;
}







/*-------------ABOUT-----------------------------------*/
.section-about{
    background-color: #fff;
}
.profile-box{
    text-align: center;
    width: 70%;
    margin-left: 15%;
}
.profile-pic{
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
            clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    height: 150px;
    /* border-radius: 50%; */
    margin-bottom: 30px;
    margin-top: 40px;
}

.profile-description{
    max-width: 75ch;
    margin-bottom: 15px;
}
.feature-box{
    margin-top: 15px;
}
.technologies{
    font-size: 180%;
    margin: 20px 0;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}
.tech-descripton{
    font-size: 110%;
}

/*------------------PORTFOLIO---------------------------------*/
.section-portfolio{
    text-align: center;
    background-color: #f4f4f4;
}
.project{/*is the entire box*/
    margin-top: 30px;
}
.project__box{/*includes image and button's box*/
    position: relative;
    text-align: center;
}
.project__box .heading-tertiary{
    font-size: 200%;
}

.project__text-box{
    margin-top: 15px;
}
.project-text{
    width: 80%;
    margin-left: 10%;
}
.project__img{
    width: 80%;
    height: auto;
    padding: 10px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


.image-links:link,
.image-links:visited{
    display:block;
    margin-bottom: 20px;
    background-color:#7a3a95;
    border: 1px solid #7a3a95;
    color:#fff;
}
/*---------CONTACT-----------------*/
.form{
    margin: 20px auto;
    width:60%;
    font-size: 190%;
    /* text-align: center; */
}
input[type=text],
input[type=email],
textarea{
    font-size: inherit;
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc; 
}
textarea{
    height: 100px;
}
*:focus{outline: none;}
input[type=submit]{
    display: inlne-block;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 300;
    font-size: 110%;
    border-radius: 200px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
/*-------FOOTER-------------------*/
.footer-section{
    padding: 40px 0;
    background: #020102;
    font-size: 90%;
    color: #ddd;
    margin-top: 30px;
    text-align: center;
}

.social-links{
    list-style-type: none;
}
.social-links li{
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
}
.social-links li a:link,
.social-links li a:visited,
.social-links li a:active{
    font-size: 500%;
    -webkit-transition: color  0.3s;
    transition: color  0.3s;
}

.social-links li a:hover{
    color: #ba87d0;
}

/*----------ANIMATIONS WITH WAYPOINTS ------------------------*/
.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}
.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated{
    opacity: 1;
}
/*----ANIMATIONS-----------*/
@-webkit-keyframes moveInleft{
    0%{
        /*how the animation will look before it starts*/
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
        opacity: 0;
    }
    80%{
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    100%{
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    /*generally animate only two properties maximum and opacity is the one */
}
@keyframes moveInleft{
    0%{
        /*how the animation will look before it starts*/
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
        opacity: 0;
    }
    80%{
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    100%{
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    /*generally animate only two properties maximum and opacity is the one */
}
@-webkit-keyframes moveInRight{
    0%{
        -webkit-transform: translateX(250px);
                transform: translateX(250px);
        opacity: 0;
    }
    80%{
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    100%{
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}
@keyframes moveInRight{
    0%{
        -webkit-transform: translateX(250px);
                transform: translateX(250px);
        opacity: 0;
    }
    80%{
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    100%{
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes moveInBottom{
    0%{
        /*how the animation will look before it starts*/
        -webkit-transform: translateY(200px);
                transform: translateY(200px);
        opacity: 0;
    }
  
    100%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
    /*generally animate only two properties maximum and opacity is the one */
}
@keyframes moveInBottom{
    0%{
        /*how the animation will look before it starts*/
        -webkit-transform: translateY(200px);
                transform: translateY(200px);
        opacity: 0;
    }
  
    100%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
    /*generally animate only two properties maximum and opacity is the one */
}